<p>Dear {{ user.first_name }},</p>
<p><b>Your ticket has been reserved</b> for Survive.Sacramento 2011: Outbreak [REVISITED]. Player numbers will be issued via email as the event draws closer. </p>
{% if order %}
<p>Your Google Checkout order number is <b>{{ order.order_id }}</b>.</p>
{% endif %}
<p> Don't forget to confirm your attendance on the <a href="http://www.facebook.com/event.php?eid=233349916727304" target="_blank">Facebook event page</a> to get the most updated info about the game, and check out the <a href="http://www.facebook.com/Team.Mac.Down" target="_blank">&laquo;TMD&raquo; page</a> for updates on future events and to find out how you can get involved.</p>
<p>See you there,</p>
<p>- &laquo;TMD&raquo; Notifier Kitteh</p>