<div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Event" class='hidden'> 
  <a href="http://www.survivesacramento.com" rel="v:url" 
     property="v:summary">Survive Sacramento</a>
  <img src="/static/tmd_logo.jpeg" rel="v:photo" /> 
  <span property="v:description">Live action, real life zombie survival game held in midtown Sacramento. Will you survive?</span>

  When: 
  <span property="v:startDate" content="2011-10-30T19:00-8:00">Oct 30, 7:00PM</span>—
  <span property="v:endDate" content="2011-10-30T19:00-8:00">10:00PM</span>

  Where: 
  <span rel="v:location">
    <span typeof="v:Organization">
      <span property="v:name">Chinatown Mall</span>,
      <span rel="v:address">
        <span typeof="v:Address">
          <span property="v:street-address">420 I Street</span>,
          <span property="v:locality">Sacramento, CA 95814-2314</span>,
          <span property="v:region">CA</span>
        </span>
      </span>

      <span rel="v:geo">
        <span typeof="v:Geo">
          <span property="v:latitude" content="38.58271" ></span>
          <span property="v:longitude" content="-121.50045" ></span>
        </span>
      </span>
    </span>   
  </span>

  Category: <span property="v:eventType">Live Action Game</span>
  <span rel="v:ticketAggregate"> 
    <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Offer-aggregate">
      Tickets from $<span property="v:lowPrice">5</span>-$<span property="v:highPrice">10</span>
      <span property="v:currency">USD</span>
      <span property="v:offercount">2,000</span> tickets available
      <a href="http://www.survivesacramento.com/#register" property="v:offerurl">Claim your ticket now</a>
    </div>
  </span>
   <span rel="v:tickets"> 
     <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Offer"> 
      <a href="http://www.survivesacramento.com/#presale" property="v:offerurl">Presale tickets</a>  
        <span property="v:price">$5 </span>  <span property="v:currency">USD </span> until 
        <span property="v:pricevaliduntil" content="2011-10-25T12:00-08:00">25 October 2011</span> 
        (<span property="v:quantity">1000 </span> available)
     </div>         
     <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Offer"> 
       <a href="http://www.survivesacramento.com/#tickets" property="v:offerurl">Full-price tickets</a>
         <span property="v:price">$7 </span> <span property="v:currency">USD </span> 
     </div>         
      
</div>