{% extends "__base.html" %}

{% block title %}the who, what, where, when, why & how{% endblock %}

{% block heading %}INFORMATION{% endblock %}

{% block content %}
<div id="infoWrap">
<ul class="nice-list">
<a href="#history"><li>&raquo;&nbsp;&nbsp;backstory</li></a>
<a href="#game"><li>&raquo;&nbsp;&nbsp;gameplay</li></a>
<a href="#five_dollah"><li>&raquo;&nbsp;&nbsp;why $5?</li></a>
<a href="#tmd"><li>&raquo;&nbsp;&nbsp;who we are</li></a>
</ul>
<a name="history"><h2>THE HISTORY</h2></a>
<p>Last year, an advisor within a chemical testing agency in Sacramento accessed and stole an experimental lab-created virus. This virus was designed to turn its users into mindless workers with chemically-enhanced strength and speed. However, the virus was taken without clearance and administered to three test subjects who then ‘escaped’ on October 31, 2010.</p>
<p>After realizing what had occurred, a senior member of the organization gathered denizens of Sacramento to help retrieve viable data from across the city in an effort to discover what happened to the test subjects as well as determine the ramifications of exposure to them. Thanks to the efforts of the Sacramento Denizens of last year we now fully understand the virus and the intentions of the individuals who took it.</p>
<p>On October 29th of this year, the rogue group will be administering another round of tests, which we believe will result in high rates of exposure to the virus. We ask that the denizens of Sacramento gather once more to survive what we believe will be a mass Outbreak of the virus. </p>
<a name="game"><h2>THE GAME</h2></a>
<p>Survive Sacramento 2010 was an amazing event. Here are some of the highlights and a sneak peak at what we have in store for you this year.</p>
<p>All of our players travelled by foot from our start point into a 2.1 square mile field of play. Once there, it was their job to check in at different locations across the area and make it to the end location. While our players went from point to point, they had to do their best to steer clear of the zombies. If a player was tagged then they joined the horde of zombies out to turn each and every one of our players.</p>
<p>This year's game will be similar to last year's in some ways, but different in many. We at &laquo;TMD&raquo; have refined our zombie training and they will be faster and more efficient than ever. Tagging players to add them to the hordes of zombies plaguing the city will be much easier on their part. Players, your tasks have increased and become more difficult to accomplish...</p>
<p class='indent'>...and...</p>
<p>...the same people who helped us organize this resistance are responsible for the outbreak.</p>
<p>Your efforts this year will help us find out who and why.</p>
<p>This is <strong>Survive Sacramento 2011: Outbreak</strong>.</p>
<p>For more info check out the <a href="http://www.facebook.com/event.php?eid=278581878827251">Facebook event</a>.</p>
<a name="five_dollah"><h2>WHY $5?</h2></a>
<p>We here at &laquo;TMD&raquo; understand that probably the biggest change for players between this year and last is that the game is no longer free. We want to ensure that this year’s game is a 100% success. Looking at other events similar to ours (like survive.norfolk), we figured that instead of adding a price tag later it would be better to be upfront.</p>
<p>That being said we want you to know that your donation of $5 is to help cover costs that go straight back to you as players in the form of quality, and future, events. We hope that you still play and help us create a stable and continuous opportunity for #epic_fun_time. </p>
<a name="tmd"><h2>THE PEOPLE</h2></a>
<p>&laquo;TMD&raquo; started out as a bunch of friends who got together regularly to accomplish as much epicness as possible, whenever possible. We travelled around the Sacramento area and across California attending different parties and social events. Eventually we formed a kind of group identity, as much of an identity as a bunch of college students can get while raging across California.</p>
<p>Why we are here is because we’ve partied, camped, and done all kinds of other random things things together and it has been fun as hell. So we are bringing that same close knit group mentality to everyone on a large scale, getting as many people out and about to do things that simply haven’t been done or, in our opinion, could use a little more epicness.</p>
<p>So we're just getting off the ground in the public eye, but we’ve been doing all kinds of random and epic things for a while now, and will be bringing as much of it to as many people as possible! It's large scale play, in multiple environments, by people like you. Think MMO meets LARP.</p>
<p>For more information, visit <a href="http://www.facebook.com/Team.Mac.Down">our Facebook page</a>.</p>
</div>
{% endblock %}