{% extends '__base.html' %}
{% block title %} - in progress{% endblock %}
{% block headerscript %}
<style type="text/css">
#wrapper {
	margin-top: 15em!important;
}
</style>
{% endblock %}
{% block heading %}WORKING ON IT.{% endblock %}

{% block content %}
<div style="margin: 0 auto; padding: 20px 20px; text-align: center;">
<p>thanks for checking us out, we're developing the new registration system right now. check back soon!</p>
<p>&nbsp;</p>
<p>-&nbsp;&nbsp;&laquo;TMD&raquo;</p>
</div>
{% endblock %}